@page
@{ Layout = "_Layout"; }
@section Styles{
  @*<link href="/sitefiles/assets/css/bootstrap-4.1.0.min.css" rel="stylesheet" type="text/css" />
  <link href="/sitefiles/assets/css/siteserver.min.css" rel="stylesheet" type="text/css" />*@

<link href="/css/normalize.css" rel="stylesheet">
  <link href="/css/cc-css-tools.css" rel="stylesheet">
  <!-- 引入样式 -->
  <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.9/theme-chalk/index.min.css" rel="stylesheet">
  <!-- 引入组件库 -->

  <style>
    html,body {
      background-color: rgb(239, 242, 245);
    }
    .kanban {
       min-width: 960px;
      margin: 0 auto;
      background-color: rgb(239, 242, 245);
      padding: 20px;

    }
    .c-h-timg {
      width: 64px;
      height: 64px;
    }
    .c-h-ttitle {
      font-size: 36px;
      line-height: 50px;
      color: #000000;
      text-align: center;
    }
    .c-select-time .el-card__header {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .c-select-time .el-button--text {
      color: rgb(0, 177, 157);
    }
    .st-title {
      color: rgb(0, 177, 157);
      font-weight: 700;
    }
    .st-title .st-line {
      position: absolute;
      height: 1px;
      background-color: rgb(0, 177, 157);
      left: 0;
      right: 0;
      top: 37px;
    }
    .myechar-title {
      font-size: 14px;
      color: #000000;
      font-weight: 700;
    }
    .c-ph-wapr {
      font-size: 14px;
    }

    .c-ph-wapr .c-ph-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
    }
    .c-ph-wapr .c-ph-item .ph-ix {
      padding: 6px;
      width: 10px;
      height: 10px;
      display: inline-block;
      font-size: 10px;
      line-height: 10px;
      text-align: center;
      background-color: #eee;
      color: #666;
      border-radius: 50%;
      margin-right: 16px;
    }
    .c-ph-wapr .c-ph-item .ph-ix.active {
      background-color: #333;
      color: #eee;
      width: 10px;
      height: 10px;
      line-height: 10px;
    }

    .c-select-time .el-radio-button__inner:hover {
      color: #606266;
    }
    .c-select-time .el-radio-button__orig-radio:checked+.el-radio-button__inner:hover {
      color: #fff;
    }
    .c-select-time .el-radio-button__orig-radio:checked+.el-radio-button__inner {
      background-color: rgb(0, 177, 157);
      border-color: rgb(0, 177, 157);
    }
  </style>

}

 <div class="container kanban">

      <el-row :gutter="20">
        <el-col :span="6">
          <el-card class="box-card">
            <div class="cc-flex--jsb">
              <div class="cc-f-s14 cc-tc-i">用户数</div>
              <div class="">
                <el-tooltip class="item" effect="dark" content="站点注册用户数" placement="top">
                  <i class="el-icon-warning-outline"></i>
                </el-tooltip>
              </div>
            </div>
            <div class="cc-ta--c">
              <img class="cc-mar-t-2 c-h-timg" src="/imgs/kanban/icon-h1.png" alt="" >
            </div>
            <div class="cc-mar-t-4 c-h-ttitle">{{InfoCounts[0]}}</div>
          </el-card>
        </el-col>
        <el-col :span="6">
          <el-card class="box-card">
            <div class="cc-flex--jsb">
              <div class="cc-f-s14 cc-tc-i">月访问量</div>
              <div class="">
                <el-tooltip class="item" effect="dark" content="月站点图书点击量" placement="top">
                  <i class="el-icon-warning-outline"></i>
                </el-tooltip>
              </div>
            </div>
            <div class="cc-ta--c">
              <img class="cc-mar-t-2 c-h-timg" src="/imgs/kanban/icon-h2.png" alt="" >
            </div>
            <div class="cc-mar-t-4 c-h-ttitle">{{InfoCounts[1]}}</div>
          </el-card>
        </el-col>
        <el-col :span="6">
          <el-card class="box-card">
            <div class="cc-flex--jsb">
              <div class="cc-f-s14 cc-tc-i">月用户活跃数</div>
              <div class="">
                <el-tooltip class="item" effect="dark" content="本有阅读记录的用户数" placement="top">
                  <i class="el-icon-warning-outline"></i>
                </el-tooltip>
              </div>
            </div>
            <div class="cc-ta--c">
              <img class="cc-mar-t-2 c-h-timg" src="/imgs/kanban/icon-h3.png" alt="" >
            </div>
            <div class="cc-mar-t-4 c-h-ttitle">{{InfoCounts[2]}}</div>
          </el-card>
        </el-col>
        <el-col :span="6">
          <el-card class="box-card">
            <div class="cc-flex--jsb">
              <div class="cc-f-s14 cc-tc-i">总书籍数</div>
              <div class="">
                <el-tooltip class="item" effect="dark" content="当前图书总数" placement="top">
                  <i class="el-icon-warning-outline"></i>
                </el-tooltip>
              </div>
            </div>
            <div class="cc-ta--c">
              <img class="cc-mar-t-2 c-h-timg" src="/imgs/kanban/icon-h4.png" alt="" >
            </div>
            <div class="cc-mar-t-4 c-h-ttitle">{{InfoCounts[3]}}</div>
          </el-card>
        </el-col>
      </el-row>

      <div class="c-select-time cc-mar-t-20">
        <el-card class="box-card">
          <div slot="header" class=" cc-flex--jsb cc-flex--aic">
            <div class="st-title cc-pos--r">
              站点情况
              <div class="st-line"></div>
            </div>
            <div>
@*              <el-button type="text">今日</el-button>
              <el-button type="text">本周</el-button>*@
              <el-button type="text">本月</el-button>
      @*        <el-button type="text">本年</el-button>*@
@*              <el-date-picker
                class="cc-mar-l-10"
                v-model="dateVal"
                size="mini"
                type="daterange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期">
              </el-date-picker>*@
            </div>
          </div>

          <el-row :gutter="20">
            <el-col :span="16">
              <div class="myechar-title">访问量趋势</div>
              <div id="myecharts1" style="width: 100%; height:230px;"></div>
            </el-col>
            <el-col :span="8">
              <div class="myechar-title">书籍阅读量排行</div>
              <div class="cc-mar-t-10 c-ph-wapr">
                <div class="c-ph-item" v-for="(item,i) in BTops" >
                  <div class="cc-flex cc-flex--aic">
                    <div class="ph-ix active">{{i+1}}</div>
                    <div class="ph-name">{{item.title}}</div>
                  </div>
                  <div class="ph-num">{{item.hits}}</div>
                </div>
             @*   <div class="c-ph-item">
                  <div class="cc-flex cc-flex--aic">
                    <div class="ph-ix active">2</div>
                    <div class="ph-name">书籍名称01</div>
                  </div>
                  <div class="ph-num">1234.56</div>
                </div>
             *@
              </div>
            </el-col>
          </el-row>
          
        </el-card>
      </div>
      
      <div class="cc-mar-t-20"> 
        <el-row :gutter="20">
          <el-col :span="12">
            <el-card class="box-card">
              <div slot="header" class="clearfix">
                <span style="color: #000;">站点资源统计</span>
                <el-button style="float: right; padding: 3px 0" icon="el-icon-more" type="text"></el-button>
              </div>
              <div>
                <div id="myecharts2" style="width: 100%; height: 300px;"></div>
              </div>
            </el-card>
          </el-col>
          <el-col :span="12">
            <el-card class="c-select-time">
              <div slot="header" class=" cc-flex--jsb cc-flex--aic">
                <span style="color: #000;">电子书分类数量占比</span>
                <div>
                  <el-radio-group v-model="radio4"  size="mini">
                    <el-radio-button label="全部渠道"></el-radio-button>
                    <el-radio-button label="线上"></el-radio-button>
                    <el-radio-button label="门店"></el-radio-button>
                  </el-radio-group>
                  <el-button  icon="el-icon-more" type="text"></el-button>
                </div>
              </div>
              <div>
                <div id="myecharts3" style="width: 100%; height: 300px;"></div>
              </div>
            </el-card>
          </el-col>
        </el-row>
      </div>
      
    </div>
  

@section Scripts{
@*<script src="./libs/jquery.js"></script>
  <!-- import Vue before Element -->
  <script src="./libs/vue.min.js"></script>*@
  <script src="/libs/echarts.min.js"></script>
  <script src="/libs/macarons-th.js"></script>
  <!-- import JavaScript -->
  @*<script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.9/index.min.js"></script>*@
  <script src="~/js/common.js"></script>
  <script>
    var optionChart2 = {
      //color: ['#00FF00', '#0000FF', '#37A2FF', '#FF0087', '#FFBF00'],
      tooltip: {
        trigger: 'axis'
      },
      legend: {
        data: ['日新增数', '日修改数']
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
     
      xAxis: {
        type: 'category',
        boundaryGap: false,
        splitArea: {
          show: false
        },
        data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
      },
      yAxis: {
        type: 'value'
      },
      series: [
        {
          name: '日新增数',
          type: 'line',
          stack: 'Total',
          smooth: true,
          lineStyle1: {
            width: 1
          },
          showSymbol: false,
          areaStyle1: {
            opacity: 0.8,
            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
              {
                offset: 0,
                color: 'rgb(128, 255, 165)'
              },
              {
                offset: 1,
                color: 'rgb(1, 191, 236)'
              }
            ])
          },
          emphasis: {
            focus: 'series'
          },
          data: [120, 132, 101, 134, 90, 230, 210]
        },
        {
          name: '日修改数',
          type: 'line',
          stack: 'Total',
          smooth: true,
          lineStyle1: {
            width: 1
          },
          showSymbol: false,
          areaStyle1: {
            opacity: 0.8,
            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
              {
                offset: 0,
                color: 'rgb(0, 221, 255)'
              },
              {
                offset: 1,
                color: 'rgb(77, 119, 255)'
              }
            ])
          },
          emphasis: {
            focus: 'series'
          },
          data: [220, 182, 191, 234, 290, 330, 310]
        }
      ]
    };
    
    let optionChart3 = {
       tooltip: {
            trigger: 'item'
        },
      legend2: {
        left: 'center',
        bottom: '2%'
      },
      series: [
        {
          type: 'pie',
          radius: ['30%', '60%'],
          avoidLabelOverlap: false,
          label2: {
            show: false,
            position: 'center'
          },
          label: {
                normal: {
                    show: true,
                    formatter: '{b}: {c}({d}%)' //自定义显示格式(b:name, c:value, d:百分比)
                }},
          emphasis: {
            label: {
              show: true,
              fontSize: '20',
              fontWeight: 'bold'
            }
          },
          labelLine: {
            show: true
          },
          data: [
            { value: 1048, name: '书籍1' },
            { value: 735, name: '书籍2' },
            { value: 580, name: '书籍3' },
            { value: 484, name: '书籍4' },
            { value: 300, name: '书籍5' }
          ]
        }
      ]
    };
    var $siteId=getQueryItems()['siteId']||getQueryItems(top.location.href)['siteId']
    debugger
    let vm = new Vue({
      el: '#main',
      data: {
        dateVal: [],
        radio4: '全部渠道',
        pageLoad:true,
        BTops:[],
        InfoCounts:[]
      },
      methods:{
          sumMonth(){
              return  axios.create().get(`/api/HManage/ReaderRecord/SumMonth?siteId=${$siteId}`)
                .then(p=>p.data)
          },
          infoCount(){
             return  axios.create().get(`/api/HManage/ReaderRecord/InfoCount?siteId=${$siteId}`)
                .then(p=>p.data)
          },
          booksTop(){
              axios.create().post('/api/v1/contents',
                  {
                      siteId:$siteId,
                      orders:[
                        {
                          "column": "Hits",
                          "desc": true,
                        }],
                        perPage:30,
                        page:1
                  }).then(p=>p.data.contents).then(p=>this.BTops=p.slice(0,7))
          },
          contentTree(){
               return $api.post('/cms/contents/contents/actions/tree', {
                  siteId: 56,// utils.getQueryString('siteId'),
                  reload: false
                }).then(function(response) {
                  let res = response.data;
                  let cbooks=  res.root.children.find(p=>p.label=='书籍资源').children.find(p=>p.label=='电子图书').children
                  //optionChart3.series[0].data=cbooks
                  return cbooks
                })
          },
      ///settings/analysisSiteContent
      getAnalysisSiteContent:()=>{
                 var $this = this;
                return    $api.post('/settings/analysisSiteContent', {
                dateFrom: "2022-07-01",
                dateTo: "2022-08-01",
                siteId: $siteId
                }).then(function(response) {
                      var res = response.data;

                      $this.sites = res.sites;
                      $this.adminStats = res.adminStats;
                      optionChart2.series[0].data=res.addCount
                       optionChart2.series[1].data=res.editCount
                       optionChart2.xAxis.data=res.days
                      //$this.chartData = {
                      //  labels: res.days,
                      //  datasets: [
                      //    {
                      //      label: "新增内容数",
                      //      backgroundColor: "#409EFF",
                      //      data: res.addCount
                      //    },
                      //    {
                      //      label: "修改内容数",
                      //      backgroundColor: "#67C23A",
                      //      data: res.editCount
                      //    }
                      //  ]
                      //};
                    })
                    .catch(function(error) {
                      utils.error(error);
                    })
                   
            }
      },
      mounted() {
          let self=this
         this.infoCount().then(p=>self.InfoCounts=[p.item1,p.item2,p.item3,p.item4])

        let chartDom = document.getElementById('myecharts1');
        let myChart = echarts.init(chartDom, 'macarons');
       
        let option = {
          xAxis: {
            type: 'category',
            data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
          },
          yAxis: {
            type: 'value'
          },
          series: [
            {
              type: 'bar'
            }
          ]
        };
         this.sumMonth().then(p=>{
        option.series[0].data=p.map(x=>[x.item1+'月',x.item2])
         myChart.setOption(option);
        })
        
        this.booksTop()
        let chartDom2 = document.getElementById('myecharts2');
        let myChart2 = echarts.init(chartDom2, 'macarons');
        //myChart2.setOption(optionChart2)
        this.getAnalysisSiteContent().then(p=>{
        myChart2.setOption(optionChart2)
        })
        let chartDom3 = document.getElementById('myecharts3');
        let myChart3 = echarts.init(chartDom3, 'macarons');
        myChart3.setOption(optionChart3)
        this.contentTree().then(p=> {
            let optionChart3=myChart3.getOption()
            //p.sort((p,p2)=>p2.value-p.value)
            //p.slice(0,5)
            p.forEach(x=>{x.value=x.count;x.name=x.label})
            optionChart3.series[0].data=p
            myChart3.setOption(optionChart3)
        })
        //alert(top.location.href)
      },
      
    })
  </script>
}